<!doctype HTML>
<html>
  <head>
    <title> <% title %> </title>
  </head>
  <body>
    <% if (form == null) { %>
      <% if (loggedin == 0) { %>
        <div>
          <a href="/signin">
            Login
          </a>
        </div>
        <div style="width: 49.5%;">
          <%- box %>  
        </div>
        <div style="position: absolute; right: 5px; top: 5px; width: 49.5%;">
          <%- list %>
        </div>
      <% } else { %>
        <div>
          <a href="/signout"> Signout </a>
        </div>
        <div style="width: 49.5%;">
          <%- box %>  
        </div>
        <div style="position: absolute; right: 5px; top: 5px; width: 49.5%;">
          <%- list %>
        </div>
        <div style="position: absolute; width: 20%;">
          <%- request %>  
        </div>
      <% } %>
      
      
    <% } else { %>
      <%- form %>
    <% } %>
  </body>
</html>